/*
* @Author: Administrator·杨振贺
* @Date:   2019-05-27 09:45:34
* @Last Modified by:   Administrator·杨振贺
* @Last Modified time: 2019-06-01 13:43:45
*/
*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style:none ;
}
a{
	text-decoration:none;
}
.back{
	width:1560px;
	height:1090px;
	background-color: #fff;
}
/* 头部 */
.head{
	width:1560px;
	height:30px;
	border-bottom:1px solid #ececec;
	background-color: #f4f4f4;
}
.header{
	width:1200px;
	height:30px;
	font-size:12px;
	color:#333;
}